<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title> About Site </title>

    <link rel="stylesheet" href="{%static './board/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{%static './single_pages/css/about_site.css' %}" media="screen">
    <link rel="icon" href="{%static './board/images/logo.ico' %}">


    <script src="https://kit.fontawesome.com/6a1c49f1ef.js" crossorigin="anonymous"></script>
</head>
<body>

{% include 'board/navbar.html' %}

<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-8">
                <h1><b>안녕하세요. Futsal Manager 입니다.</b></h1>
                <br/>
                <p class="lead">
                    저희 풋살매니저는 축구/풋살매니아들의 팀간 경기 매치를 성사하여 경기를 즐길 수 있는 서비스를 제공해 드립니다.<br/>
                    아래 등록된 팀 목록을 확인하신 후, 캘린더에 등록된 각 팀의 일정에 맞춰 풋살경기를 치뤄주시면 됩니다.
                </p>

                <ul>
                    <li><b>게시판 설명</b></li>
                    <ul>
                        <li>팀목록&예약 - 저희 사이트에 등록된 팀 목록을 통해 각 팀의 대한 정보와 일정을 확인하실 수 있습니다.</li>
                        <li>자유게시판 - 인기 축구 뉴스와 자유게시판을 통해서 이용한 각종 대회 개최가 가능합니다.</li>
                    </ul>
                    <li> <b>일정확인을 위한 캘린더 입니다.-></b> <A href="http://shorturl.at/atFIN"> 구글 예약 캘린더로 이동 </A> </li>
                    <ul>
                        <li>일정 관련해서 문의나 사이트 이용에 있어서 문제발생시, 아래 이메일로 문의바랍니다.</li>
                    </ul>
                    <li> <b>팀간의 일정 조율을 위한 오픈 카카오톡 채팅방입니다.-> </b> <A href="https://open.kakao.com/o/g74bcc3c"> 오픈카카오톡 </A> </li>
                    <ul>
                        <li>오픈 카카오톡 참가가 불편하시다면, 자유게시판을 통해서 팀을 찾으셔도 좋습니다. 아래 이메일로 연락을 주신다면, 상대하기 원하는 팀의 연락처를 제공해드립니다.</li>
                    </ul>
                </ul>
            </div>
            <div class="col-lg-4">
                <img class="img-fluid" src="{%static 'single_pages/images/ex_profile.jpg' %}">
            </div>
        </div>
    </div>
</section>

<section class="bg-light margin-for-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>등록된 팀 목록</h1>
            </div>

    <div class="col-lg-4">
        <div class="card" data-toggle="modal" data-target="#team01">
            <img class="card-img-top" src="{% static 'single_pages/images/team01_1.png' %}">
            <div class="card-body">
                <h5 class="card-title">A.F.C</h5>
                <p>지역 : 은평구 실력수준 : 하(0%~35%) 그룹 : 고등학생</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card" data-toggle="modal" data-target="#team02">
            <img class="card-img-top" src="{% static 'single_pages/images/team02_1.png' %}">
            <div class="card-body">
                <h5 class="card-title">ALL.IS.ONE</h5>
                <p>지역 : 송파구 실력수준 : 중(36%~70%) 그룹 : 대학생</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card" data-toggle="modal" data-target="#team03">
            <img class="card-img-top" src="{% static 'single_pages/images/team03_1.png' %}">
            <div class="card-body">
                <h5 class="card-title">B.S.F</h5>
                <p>지역 : 강남구 실력수준 : 중(36%~70%) 그룹 : 대학생</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card" data-toggle="modal" data-target="#team04">
            <img class="card-img-top" src="{% static 'single_pages/images/team04_1.png' %}">
            <div class="card-body">
                <h5 class="card-title">COMET</h5>
                <p>지역 : 종로구 실력수준 : 상(71%~100%) 그룹 : 직장인</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card" data-toggle="modal" data-target="#team05">
            <img class="card-img-top" src="{% static 'single_pages/images/team05_1.png' %}">
            <div class="card-body">
                <h5 class="card-title">gyn&n</h5>
                <p>지역 : 성동구 실력수준 : 상(71%~100%) 그룹 : 대학생</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card" data-toggle="modal" data-target="#team06">
            <img class="card-img-top" src="{% static 'single_pages/images/team06_1.png' %}">
            <div class="card-body">
                <h5 class="card-title">lovepink</h5>
                <p>지역 : 광진구 실력수준 : 상(71%~100%) 그룹 : 고등학생</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card" data-toggle="modal" data-target="#team07">
            <img class="card-img-top" src="{% static 'single_pages/images/team07_1.png' %}">
            <div class="card-body">
                <h5 class="card-title">mbk</h5>
                <p>지역 : 도봉구 실력수준 : 중(36%~70%) 그룹 : 직장인</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card" data-toggle="modal" data-target="#team08">
            <img class="card-img-top" src="{% static 'single_pages/images/team08_1.png' %}">
            <div class="card-body">
                <h5 class="card-title">sg.fc</h5>
                <p>지역 : 강북구 실력수준 : 상(71%~100%) 그룹 : 대학생</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card" data-toggle="modal" data-target="#team09">
            <img class="card-img-top" src="{% static 'single_pages/images/team09_1.png' %}">
            <div class="card-body">
                <h5 class="card-title">suyday</h5>
                <p>지역 : 마포구 실력수준 : 하(0%~35%) 그룹 : 직장인</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card" data-toggle="modal" data-target="#team10">
            <img class="card-img-top" src="{% static 'single_pages/images/team10_1.png' %}">
            <div class="card-body">
                <h5 class="card-title">tong</h5>
                <p>지역 : 양천구 실력수준 : 하(0%~35%) 그룹 : 고등학생</p>
            </div>
        </div>
    </div>
</div>
        </div>
</section>

<!-- Modal -->
<div class="modal fade" id="team01" tabindex="-1" role="dialog" aria-labelledby="team01ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="team01ModalLabel">A.F.C</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/team01_1.png' %}">
                        <img class="img-fluid" src="{% static 'single_pages/images/team01_2.png' %}">
                    </div>
                    <div class="col-lg-5">
                        <p>지역 : 은평구</br> 실력수준 : 하(0%~35%)</br> 그룹 : 고등학생</br></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="team02" tabindex="-1" role="dialog" aria-labelledby="team02ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="team02ModalLabel">ALL.IS.ONE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/team02_1.png' %}">
                        <img class="img-fluid" src="{% static 'single_pages/images/team02_2.png' %}">
                    </div>
                    <div class="col-lg-5">
                        <p>지역 : 송파구</br> 실력수준 : 중(36%~70%)</br> 그룹 : 대학생</br></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="team03" tabindex="-1" role="dialog" aria-labelledby="team03ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="team03ModalLabel">B.S.F</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/team03_1.png' %}">
                        <img class="img-fluid" src="{% static 'single_pages/images/team03_2.png' %}">
                    </div>
                    <div class="col-lg-5">
                        <p>지역 : 강남구</br> 실력수준 : 중(36%~70%)</br> 그룹 : 대학생</br></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="team04" tabindex="-1" role="dialog" aria-labelledby="team04ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="team04ModalLabel">COMET</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/team04_1.png' %}">
                        <img class="img-fluid" src="{% static 'single_pages/images/team04_2.png' %}">
                    </div>
                    <div class="col-lg-5">
                        <p>지역 : 종로구</br> 실력수준 : 상(71%~100%)</br> 그룹 : 직장인</br></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="team05" tabindex="-1" role="dialog" aria-labelledby="team05ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="team05ModalLabel">gyn&n</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/team05_1.png' %}">
                        <img class="img-fluid" src="{% static 'single_pages/images/team05_2.png' %}">
                    </div>
                    <div class="col-lg-5">
                        <p>지역 : 성동구</br> 실력수준 : 상(71%~100%</br>) 그룹 : 대학생</br></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="team06" tabindex="-1" role="dialog" aria-labelledby="team06ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="team06ModalLabel">lovepink</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/team06_1.png' %}">
                        <img class="img-fluid" src="{% static 'single_pages/images/team06_2.png' %}">
                    </div>
                    <div class="col-lg-5">
                        <p>지역 : 광진구</br> 실력수준 : 상(71%~100%)</br> 그룹 : 고등학생</br></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="team07" tabindex="-1" role="dialog" aria-labelledby="team07ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="team07ModalLabel">mbk</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/team07_1.png' %}">
                        <img class="img-fluid" src="{% static 'single_pages/images/team07_2.png' %}">
                    </div>
                    <div class="col-lg-5">
                        <p>지역 : 도봉구</br> 실력수준 : 중(36%~70%)</br> 그룹 : 직장인</br></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="team08" tabindex="-1" role="dialog" aria-labelledby="team08ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="team08ModalLabel">sg.fc</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/team08_1.png' %}">
                        <img class="img-fluid" src="{% static 'single_pages/images/team08_2.png' %}">
                    </div>
                    <div class="col-lg-5">
                        <p>지역 : 강북구</br> 실력수준 : 상(71%~100%)</br> 그룹 : 대학생</br></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="team09" tabindex="-1" role="dialog" aria-labelledby="team09ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="team09ModalLabel">suyday</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/team09_1.png' %}">
                        <img class="img-fluid" src="{% static 'single_pages/images/team09_2.png' %}">
                    </div>
                    <div class="col-lg-5">
                        <p>지역 : 마포구</br> 실력수준 : 하(0%~35%)</br> 그룹 : 직장인</br></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="team10" tabindex="-1" role="dialog" aria-labelledby="team10ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="team10ModalLabel">tong</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/team10_1.png' %}">
                        <img class="img-fluid" src="{% static 'single_pages/images/team10_2.png' %}">
                    </div>
                    <div class="col-lg-5">
                        <p>지역 : 양천구</br> 실력수준 : 하(0%~35%)</br> 그룹 : 고등학생</br></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="fixed-bottom">
{% include 'board/footer.html' %}
</div>
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
</html>